<!-- panel left -->
<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >
	<div class='nd2-sidepanel-profile wow fadeInDown'>
		<img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" />
		<div class="row">
			<div class='col-xs-4 center-xs'>
				<div class='box'>
					<img class="profile-thumbnail" src="//lorempixel.com/200/200/people/9/" />
				</div>
			</div>
			<div class='col-xs-8'>
				<div class='box profile-text'>
					<strong>retailer_name</strong>
					<span class='subline'>Retailer</span>
				</div>
			</div>
		</div>
	</div>
	<ul data-role="listview" data-inset="false">
		<li data-role="list-divider"></li>
	</ul>

	
	<hr class="inset">
	<ul data-role="listview" data-inset="false">
		<li data-role="list-divider"><a href="#" class="ui-btn">Message</a></li>
	</ul>

	<ul data-role="listview" data-inset="false">
		<li data-role="list-divider"><a href="#" class="ui-btn">Product Request</a></li>
	</ul>

	<ul data-role="listview" data-inset="false">
		<li data-role="list-divider"><a href="#" class="ui-btn">View Request</a></li>
	</ul>
	<div class="box" style="height:20vh"></div>
	<ul data-role="listview" data-inset="false">
		<li data-role="list-divider"><a href="#" class="ui-btn">Profile</a></li>
	</ul>
	<ul data-role="listview" data-inset="false">
		<li data-role="list-divider"><a href="#" class="ui-btn">Contact Admin</a></li>
	</ul>

	<ul data-role="listview" data-inset="false">
		<li data-role="list-divider"><a href="#" class="ui-btn">Logout</a></li>
	</ul>
	<div class="box" style="height:5vh"></div>
	<div class="col-xs-8 center-block" >
		<a href="#" class="btn btn-fab"><span class="fa fa-facebook" aria-hidden="true"></span></a>
		<a href="#" class="btn btn-fab"><span class="fa fa-twitter" aria-hidden="true"></span></a>
	</div>
</div>
<!-- /panel left -->